@model RAP.WebClient.Models.AppModel
<!DOCTYPE html>
<html ng-controller="mainController">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{{Page.title()}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")"/><![endif]-->
    @Styles.Render("~/Content/fonts.css")
    @Styles.Render("~/Content/styles.css")
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <script type="text/javascript">
        @*sessionStorage.setItem("UserDisplayName", "@string.Format("{0} {1}", Model.Header.User.FirstName, Model.Header.User.LastName)");
        sessionStorage.setItem("username", "@Model.Header.User.Username");*@
        sessionStorage.setItem("apibaseurl", "@Model.AppDetails.ApiBaseURL");
    </script>   
    <base href="/">
</head>
<body>
    <div class="container outer-container">
        <div class="header">
            <div id="sitetitle-wrapper">
                <h1 id="sitetitle">
                    <a href="#">City of Oakland</a>
                </h1>

                <div class="description">Rent Adjustment  <br />Program</div>
            </div>

            <a href="javascript:void();" class="menu-toggle"><span></span></a>

            <div id="navigation">
                <div class="account-info">
                    <ul>
                        <li>Robert Wong</li>
                        <li><a href="#">Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- .header -->
    </div>
    
        @*modal dialog has z-index of 1050 so set the z-index of inform more than that to bring it to front.*@
        <div inform class="inform-animate inform-fixed inform-shadow" style="z-index: 1051"></div>
        <div id="body" ng-view class="container-fluid"></div>
        <footer style="margin-top: 3em;">
            @*<nav class="navbar navbar-fixed-bottom row-footer-finance" role="navigation">
                    <div class="container-fluid">
                        <span style="font-size: 0.8em; line-height: 2em;" class="pull-right">Rent Adjustment Program: Service Allocation | Deployment Date: @Model.AppDetails.DeploymentDate</span>
                    </div>
                </nav>*@
        </footer>
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularApp")
        @Scripts.Render("~/bundles/angularTemplates")
</body>
</html>
