@model RAP.WebClient.Models.AppModel
<!DOCTYPE html>
<html ng-controller="mainController as Ctrl">
<head>
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{{Page.title()}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")"/><![endif]-->
    @Styles.Render("~/Content/fonts.css")
    @Styles.Render("~/Content/styles.css")
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script type="text/javascript">
        @*sessionStorage.setItem("UserDisplayName", "@string.Format("{0} {1}", Model.Header.User.FirstName, Model.Header.User.LastName)");
        sessionStorage.setItem("username", "@Model.Header.User.Username");*@
        sessionStorage.setItem("apibaseurl", "@Model.AppDetails.ApiBaseURL");
    </script>   
    @*<base href="/">*@
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    </head>
    <body>
        <div id="site-header">
            <div class="top-header">
                <div class="container"><a href="http://www2.oaklandnet.com/government/o/hcd/index.htm" target="_blank">OAKLAND HOUSING &amp; COMMUNITY DEVELOPMENT</a></div>
            </div>

            <div class="bottom-header">
                <div class="container">
                    <div id="sitetitle-wrapper">
                        <h1 id="sitetitle"><a>City of Oakland</a></h1>
                        <div class="description">Rent Adjustment <br />Program</div>
                    </div>

                    <div class="get-assistance"><strong>Get assistance</strong> &nbsp;&nbsp;(510) 238-3721</div>


                    <a href="javascript:void();" class="menu-toggle"><span></span></a>
                    <div class="navigation-wrapper">
                        <!-- Site Choose Language -->
                        <div class="site-language-wrapper toggle-nav-element">
                            <div class="full-width" style="cursor: pointer;">
                                <select class="custom-select" id="choose-language" name="choose-language">
                                    <option value="">Choose language</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                    <option value="">Option 3</option>
                                    <option value="">Option 4</option>
                                </select>
                            </div>
                        </div>

                        <!-- Site Search -->
                        <div class="site-search-wrapper toggle-nav-element">
                            <form name="site-search-form" id="site-search-form" method="post" action="#" class="search-form">
                                <input type="text" name="txt-site-search" id="txt-site-search" class="input-field" value="" placeholder="Search" />
                                <input type="submit" name="btn-site-search" id="btn-site-search" class="btn-search" value="" />
                            </form>
                        </div>

                        <div class="site-navigation">
                            <ul>
                                <li><a href="http://rapwp.oaklandnet.com/about/">About</a>
								<ul class="sub-menu">
										<li><a href="http://rapwp.oaklandnet.com/about/rap/">Rent Adjustment Program</a></li> 
                                        <li><a href="http://rapwp.oaklandnet.com/about/rent-board-meetings/">Rent Board Meetings</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/about/petition-process/">Petition Process</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/about/laws/">Laws</a></li>
                                    </ul>
								
								
								
								</li>
                                <li><a href="http://rapwp.oaklandnet.com/issues/">Issues</a>
									 <ul class="sub-menu">
                                       
                                        <li><a href="http://rapwp.oaklandnet.com/issues/loss-of-service/">Loss of service</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/issues/rent-increase/">Rent Increase</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/issues/eviction/">Eviction</a></li>
										<li><a href="http://rapwp.oaklandnet.com/issues/exemptions/">Exemptions</a></li>
                                    </ul>
								
								
								</li>
                                <li class="menu-item-has-children">
                                    <a href="http://rapwp.oaklandnet.com/resources/">Resources</a>
                                    <ul class="sub-menu">
                                       
                                        <li><a href="http://rapwp.oaklandnet.com/resources/faq/">FAQ</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/resources/calculators/">Calculators</a></li>
                                        <li><a href="http://rapwp.oaklandnet.com/resources/glossary-of-terms/">Glossary of Terms</a></li>
										<li><a href="http://rapwp.oaklandnet.com/resources/helpful-contacts/">Helpful Contacts</a></li>
										<li><a href="http://rapwp.oaklandnet.com/resources/required-notices/">Required Notices</a></li>
										<li><a href="http://rapwp.oaklandnet.com/resources/additional-info/">Additional Information</a></li>
										
                                    </ul>
                                </li>
                                <li><a href="http://rapwp.oaklandnet.com/petition-forms/">Petition Forms</a></li>
                                
                            </ul>
                        </div>

                        <div class="account-details-wrapper">
                            <a ng-click="Ctrl.LogOut()" ng-show="Ctrl.UserName !=''" class="logout" style="cursor: pointer;">Log out</a>

                            <ul class="account-details clearfix">
                                
                                <li class="signedin" ng-show="Ctrl.UserName !=''"><a style="cursor: pointer;" ng-click="Ctrl.Home()">Hi, {{Ctrl.GetUserName()}}</a></li>
                                <li class="signedin" ng-show="Ctrl.UserName ==''"><a style="cursor: pointer;" ng-click="Ctrl.PublicLoginPage()">Log in</a></li>
                            </ul>
                            
                        </div>
                        
                        @*<div class="mb-account-details-wrapper">
                            <a href="#login" class="btn-link login">Log in</a>
                        </div>*@
                    </div>

                </div><!-- .container -->
            </div><!-- .bottom-header -->
        </div>
        <div id="main">
            @*modal dialog has z-index of 1050 so set the z-index of inform more than that to bring it to front.*@
            <div inform class="inform-animate inform-fixed inform-shadow" style="z-index: 1051"></div>
            <div id="body" ng-view class="container-fluid"></div>
            <footer id="footer" role="contentinfo">
                <div class="container">
                    <div class="site-title"><a style="cursor: pointer;">City of Oakland</a></div>

                    <div class="site-info">
                        <div class="row">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="footer-widget about">
                                    <h3>About the Rent Adjustment Program</h3>
                                    <p>We believe community begins with where you live, and we’re committed to fostering healthy relationships between property owners and tenants. RAP does not provide legal advice but can help put you in contact with organizations who can.</p>
                                </div>
                            </div>

                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <div class="footer-widget get-assistance">
                                            <h3>Get assistance</h3>
                                            <p>(510) 238-3721</p>
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-sm-12 col-xs-12">
                                        <div class="footer-widget helpful-links">
                                            <h3>Helpful links</h3>

                                            <div class="row">
                                                <div class="col-md-5 col-sm-12 col-xs-12">
                                                    <ul>
                                                        <li><a href="http://www2.oaklandnet.com/government/o/hcd/index.htm" target="_blank">Housing &amp; Community Development</a></li>
                                                        <li><a href="http://www2.oaklandnet.com/" target="_blank">City of Oakland</a></li>
                                                        <li><a href="http://rapwp.oaklandnet.com/resources/calculators/">Calculators</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-md-4 col-sm-12 col-xs-12">
                                                    <ul>
                                                        <li><a href="http://rapwp.oaklandnet.com/resources/glossary-of-terms/">Glossary of Terms</a></li>
                                                        <li><a href="http://rapwp.oaklandnet.com/resources/faq/">Frequently Asked Questions</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- .row -->
                            </div>
                        </div><!-- .row -->
                    </div>


                    <div class="copyright-info">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="copyright">&copy; 2017 City of Oakland All Rights Reserved</div>

                                
                            </div>

                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="site-by">Site by <a href="http://tomorrowpartners.com" target="_blank">Tomorrow Partners</a></div>
                            </div>
                        </div>
                    </div>

                </div><!-- .container -->
            </footer><!-- #footer -->
        </div><!-- #main -->
            @Scripts.Render("~/bundles/angular")
            @Scripts.Render("~/bundles/angularApp")
            @Scripts.Render("~/bundles/angularTemplates")

</body>
    </html>
