@model RAP.WebClient.Models.AppModel
<!DOCTYPE html>
<html ng-controller="mainController as Ctrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>{{Page.title()}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
    <!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")"/><![endif]-->
    @Styles.Render("~/Content/fonts.css")
    @Styles.Render("~/Content/styles.css")
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <script type="text/javascript">
        @*sessionStorage.setItem("UserDisplayName", "@string.Format("{0} {1}", Model.Header.User.FirstName, Model.Header.User.LastName)");
        sessionStorage.setItem("username", "@Model.Header.User.Username");*@
        sessionStorage.setItem("apibaseurl", "@Model.AppDetails.ApiBaseURL");
    </script>   
    <base href="/">
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    </head>
    <body>
        <div id="site-header">
            <div class="top-header">
                <div class="container outer-container">OAKLAND HOUSING & COMMUNITY DEVELOPMENT</div>
            </div>

            <div class="bottom-header">
                <div class="container outer-container">
                    <div id="sitetitle-wrapper">
                        <h1 id="sitetitle"><a href="#">City of Oakland</a></h1>
                        <div class="description">Rent Adjustment  <br />Program</div>
                    </div>

                    <div class="get-assistance"><strong>Get assistance</strong> &nbsp;&nbsp;(510) 000-0000</div>


                    <a href="javascript:void();" class="menu-toggle"><span></span></a>
                    <div class="navigation-wrapper">
                        <div class="mb-translation-wrapper">
                            Choose language
                        </div>

                        <div class="mb-site-search-wrapper">
                            Search
                        </div>

                        <div class="site-navigation">
                            <ul>
                                <li><a href="#about">About</a></li>
                                <li><a href="#issues">Issues</a></li>
                                <li><a href="#resources">Resources</a></li>
                                <li><a href="#petition Forms">Petition Forms</a></li>
                                <li><a href="#cases-database">Cases Database</a></li>
                            </ul>
                        </div>

                        <div class="account-details-wrapper">
                            <a ng-click="Ctrl.LogOut()" ng-show="Ctrl.UserName !=''" class="logout">Log out</a>

                            <ul class="account-details clearfix">
                                <li class="search"><a href="#" title="Search">Search</a></li>
                                <li class="translate"><a href="#" title="Translate">Translate</a></li>
                                <li class="signedin" ng-show="Ctrl.UserName !=''"><a href="#">Hi, {{Ctrl.GetUserName()}}</a></li>
                            </ul>
                        </div>

                        <div class="mb-account-details-wrapper">
                            <a href="#login" class="btn-link login">Log in</a>
                        </div>
                    </div>

                </div><!-- .container -->
            </div><!-- .bottom-header -->
        </div>

            @*modal dialog has z-index of 1050 so set the z-index of inform more than that to bring it to front.*@
            <div inform class="inform-animate inform-fixed inform-shadow" style="z-index: 1051"></div>
            <div id="body" ng-view class="container-fluid"></div>
        <footer id="footer" role="contentinfo">
            <div class="container">
                <div class="site-title"><a href="#">City of Oakland</a></div>

                <div class="site-info">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="footer-widget about">
                                <h3>About the Rent Adjustment Program</h3>
                                <p>Edis doluptatur, tescium eliscia conseq uiatur simus asse cusaerem. Namet et quidem quassusa quo etur rest ma qui corro quam et re, exerore voluptaqui repudi quias.</p>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-3 col-sm-12 col-xs-12">
                                    <div class="footer-widget get-assistance">
                                        <h3>Get assistance</h3>
                                        <p>(510) 000-0000</p>
                                    </div>
                                </div>

                                <div class="col-md-9 col-sm-12 col-xs-12">
                                    <div class="footer-widget helpful-links">
                                        <h3>Helpful links</h3>

                                        <div class="row">
                                            <div class="col-md-5 col-sm-12 col-xs-12">
                                                <ul>
                                                    <li><a href="#">Housing & Community Development</a></li>
                                                    <li><a href="#">City of Oakland</a></li>
                                                    <li><a href="#">Calculators</a></li>
                                                </ul>
                                            </div>

                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <ul>
                                                    <li><a href="#">Glossary of Terms</a></li>
                                                    <li><a href="#">Frequently Asked Questions</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- .row -->
                        </div>
                    </div><!-- .row -->
                </div>


                <div class="copyright-info">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="copyright">&copy; 2016 City of Oakland All Rights Reserved</div>

                            <ul class="footer-links">
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Service</a></li>
                            </ul>
                        </div>

                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="site-by">Site by <a href="http://tomorrowpartners.com" target="_blank">Tomorrow Partners</a></div>
                        </div>
                    </div>
                </div>

            </div><!-- .container -->
        </footer><!-- #footer -->
            @Scripts.Render("~/bundles/angular")
            @Scripts.Render("~/bundles/angularApp")
            @Scripts.Render("~/bundles/angularTemplates")

    </body>
    </html>
